footer {
  height: 80px;

  .footer__top {
    background-color: #0b1919;
    height: 60px;
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      width: 190px;

      svg path {
        transition: 0.2s;
        &:hover {
          fill: #bae249;
        }

        &:active {
          fill: #688b05;
        }
      }
    }
  }

  .footer__bottom {
    font-size: 12px;
    text-align: center;
    color: #899d9d;
  }
}
