.modal_login_container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;

  padding: 30px;

  .modal_login {
    position: relative;
    max-width: 500px;
    height: 300px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 100px;
    border: 3px solid #bae249;
    border-radius: 12px;

    .login_close {
      position: relative;

      svg {
        position: absolute;
        width: 25px;
        top: -460px;
        right: -5px;
        fill: black;
        cursor: pointer;

        &:hover {
          fill: #bae249;
        }
      }
    }

    h2 {
      color: black;
      text-align: center;
      margin-bottom: 35px;
      margin-top: 15px;
      text-transform: uppercase;
    }

    input {
      width: 90%;
      margin-bottom: 20px;
      border-radius: 8px;
      border: #bae249 3px solid;
    }

    button {
      background-color: #bae249;
      color: black;
      width: 90%;
      border-radius: 8px;

      &:disabled {
        background-color: grey;
        cursor: not-allowed;
      }
    }
  }

  .modal_login__wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    -webkit-background-clip: padding-box;
    background-clip: padding-box;

    outline: 0;
  }

  .login__wrapper {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
}
